{
  "log": {
    "_recordingName": "configure-action tests/fails properly with a bad token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "820c6228fd3a5baebeccb5b951c20bc4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer decafc0ffee"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": {
              "query": "\n        query Extract {\n          viewer {\n            organization {\n              project(name: \"cloudtruth/configure-action\") {\n                parameters {\n                  nodes {\n                    environmentValue(environmentName: \"default\") {\n                      parameterValue\n                    }\n                    isSecret\n                    keyName\n                  }\n                }\n              }\n            }\n          }\n        }"
            }
          },
          "queryString": [],
          "url": "https://api.cloudtruth.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 32,
            "text": {
              "errors": [
                "Not Authenticated"
              ]
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 116,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
