{
  "log": {
    "_recordingName": "configure-action tests/warns if the project has no parameters",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "820c6228fd3a5baebeccb5b951c20bc4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer x"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": {
              "query": "\n        query Extract {\n          viewer {\n            organization {\n              project(name: \"empty\") {\n                parameters {\n                  nodes {\n                    environmentValue(environmentName: \"default\") {\n                      parameterValue\n                    }\n                    isSecret\n                    keyName\n                  }\n                }\n              }\n            }\n          }\n        }"
            }
          },
          "queryString": [],
          "url": "https://api.cloudtruth.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 76,
            "text": {
              "data": {
                "viewer": {
                  "organization": {
                    "project": {
                      "parameters": {
                        "nodes": []
                      }
                    }
                  }
                }
              }
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"af7fd6d1f268e61fc3a6746c45a73b80\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 148,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
