{
  "log": {
    "_recordingName": "configure-action tests/fails properly with an unknown environment name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "820c6228fd3a5baebeccb5b951c20bc4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer x"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": {
              "query": "\n        query Extract {\n          viewer {\n            organization {\n              project(name: \"cloudtruth/configure-action\") {\n                parameters {\n                  nodes {\n                    environmentValue(environmentName: \"no_such_environment\") {\n                      parameterValue\n                    }\n                    isSecret\n                    keyName\n                  }\n                }\n              }\n            }\n          }\n        }"
            }
          },
          "queryString": [],
          "url": "https://api.cloudtruth.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 378,
            "text": {
              "data": {
                "viewer": {
                  "organization": {
                    "project": {
                      "parameters": {
                        "nodes": [
                          {
                            "environmentValue": null,
                            "isSecret": false,
                            "keyName": "CTTEST_HAS_NO_OVERRIDE"
                          },
                          {
                            "environmentValue": null,
                            "isSecret": true,
                            "keyName": "CTTEST_TOTALLY_A_SECRET"
                          },
                          {
                            "environmentValue": null,
                            "isSecret": false,
                            "keyName": "cttest.not.posix"
                          },
                          {
                            "environmentValue": null,
                            "isSecret": false,
                            "keyName": "CTTEST_NOT_A_SECRET"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"ee80528ae4c8f966e354df64e175a902\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 165,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
