{
  "log": {
    "_recordingName": "configure-action tests/fails properly with an unknown project name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "820c6228fd3a5baebeccb5b951c20bc4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer x"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": {
              "query": "\n        query Extract {\n          viewer {\n            organization {\n              project(name: \"not_a_real_project_name\") {\n                parameters {\n                  nodes {\n                    environmentValue(environmentName: \"default\") {\n                      parameterValue\n                    }\n                    isSecret\n                    keyName\n                  }\n                }\n              }\n            }\n          }\n        }"
            }
          },
          "queryString": [],
          "url": "https://api.cloudtruth.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 53,
            "text": {
              "data": {
                "viewer": {
                  "organization": {
                    "project": null
                  }
                }
              }
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"70115a1ca29a634c0fc2f1e2f6a03e5d\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 133,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
